---
import SideBar from "./SideBar.astro";

const {activeItemID} = Astro.props;
---

<div class="drawer lg:drawer-open">
  <input id="my-drawer" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content flex flex-col p-9">
    <slot />
  </div> 
  <SideBar {activeItemID}/>
</div>